#Модули
node_modules

#Логи
Structures/Logs

#То, что пока не добавлю
Commands/Leveling/xp.js

Commands/Developer/rankcard.jss

Structures/Images/Rank/level-up.png

#То, что врятли использую, но зачем-то сохраняю
Utilites/Functions.js