# Discord Bot Token
BOT_TOKEN=

# MongoDB url
DATABASE_URL=

# Join & Exit webhooks
WEBHOOK_JOIN=
WEBHOOK_EXIT=


# Audit webhooks
WEBHOOK_AUDIT_CHANNEL=
WEBHOOK_AUDIT_BAN=
WEBHOOK_AUDIT_EVENT=
WEBHOOK_AUDIT_MEMBER=
WEBHOOK_AUDIT_MESSAGE=
WEBHOOK_AUDIT_ROLE=
WEBHOOK_AUDIT_THREAD=